<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table>
    <tr>
        <th> ID</th>
        <th> First Name</th>
        <th> Last Name</th>
        <th> Age</th>
        <th> Email</th>
        <th> Role</th>
    </tr>
</table>
<span th:text="${user.getId()}"></span> <span th:text="${user.getName()}"> </span> <span
        th:text="${user.getSurname()}"></span> <span th:text="${user.getAge()}"> </span> <span
        th:text="${user.getEmail()}"> </span>
<span th:text="${user.getRoles()}"> </span>

<!--<div th:each="user : ${users}">-->
<!--    <a th:href="@{/users/editUser(id=${user.getId()})}"-->
<!--        th:text="${user.getName()+' '+user.getSurname()+' '+user.getAge()}"User</a>-->
<!--</div>-->
<h3><a href="/logout"> Logout</a></h3>
</body>
</html>